@import url("https://notseanwalters.github.io/seanwalters/assets/fonts/roboto/stylesheet.css");
@import url("https://notseanwalters.github.io/seanwalters/assets/fonts/basic/stylesheet.css");
@import url("https://notseanwalters.github.io/seanwalters/assets/fonts/code/stylesheet.css");
p {
  font-family: "roboto";
  font-size: 20px;
}

h1 {
  font-family: "basic";
  font-size: 40px;
}

a {
  font-family: "code";
  font-size: 25px;
  text-decoration: none;
}