@import url("https://notseanwalters.github.io/seanwalters/assets/fonts/roboto/stylesheet.css");
@import url("https://notseanwalters.github.io/seanwalters/assets/fonts/basictitle/stylesheet.css");
@import url("https://notseanwalters.github.io/seanwalters/assets/fonts/code/stylesheet.css");
p {
  font-family: "code";
  font-size: 20px;
}

h1 {
  font-family: "code";
  font-size: 30px;
}

a {
  font-family: "code";
  font-size: 25px;
}