@font-face {
    font-family: 'Title';
    src: url('../fonts/Light.ttf');
}

@font-face {
    font-family: 'Body';
    src: url('../fonts/RobotoLight.ttf');
}

@font-face {
    font-family: 'Nav';
    src: url('../fonts/Stellar.otf');
}

@font-face {
    font-family: 'Title2';
    src: url('../fonts/Neusa.otf');
}

/* Page Styles */
* {
	padding: 0;
	margin: 0;
}

#main {
    transition: margin-left .5s;
}

body {
	user-select: none;
	transition: background-color .5s;
	overflow-y: scroll;
	overflow-x: hidden;
}

.clear {
	clear: both;
	margin: 0;
	padding: 0;
}

.flt-rt {
	float: right;
}

/* Header Styles */

#autoplay-video1{
	margin: 0;
	width:100%
}

#autoplay-video2{
	width:70%;
	margin-top:-4px;
	margin-left: auto;
   margin-right: auto;
   display: block;
}

/* Navigation Styles */

.sidebox {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
	opacity: 0.7;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebox .closebox {
	width: 100%;
	height: 100%;
	margin-left: 250px;
	background-color: black;
	opacity: 1;
	z-index: 6;
   position: absolute;
   transition: 1s;
}

.opennavbutton {
	opacity: 0.8;
	cursor:pointer;
	position:fixed;
	float:left;
	z-index:1;
	width: 4em;
    height: 100%;
    background: darkred;
	transition: 0.5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav img {
	opacity: 0;
	margin: 50px 0px 0px 250px; 
	position:absolute; 
	z-index: -1; 
	width: 0px; 
	height:0px;
	transition: 0.5s;
}

.section1:hover img {
	margin: -50px 0px 0px 5px; 
	width: 250px; 
	height:250px;
	opacity: 0.5;
}

.section2:hover img {
	margin: -50px 0px 0px -5px; 
	width: 260px; 
	height:260px;
	opacity: 0.5;
}

.section3:hover img {
	margin: -70px 0px 0px 10px; 
	width: 275px; 
	height:275px;
	opacity: 0.5;
}

.section4:hover img {
	margin: -82px 0px 0px -20px; 
	width: 285px; 
	height:285px;
	opacity: 0.5;
}

.section5:hover img {
	margin: -60px 0px 0px 20px; 
	width: 250px; 
	height:250px;
	opacity: 0.5;
}

.section6:hover img {
	margin: -63px 0px 0px 5px; 
	width: 255px; 
	height:255px;
	opacity: 0.5;
}

.sidenav a {
	margin-top: 20px;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 55px;
	text-decoration: none;
	font-size: 2em;
	font-family: "Nav";
	z-index: 3; 
	display: block;
	color: #818181;
	transition: transform 0.5s, text-shadow 0.5s;
}

.section1:hover a {
   color: #dbdbdb;
   text-shadow: 1.3em 1.3em darkred;
}

.section2:hover a {
    color: #dbdbdb;
   text-shadow: 1.3em 1.3em darkred;
}

.section3:hover a {
    color: #dbdbdb;
   text-shadow: 1.3em 1.3em darkred;
}

.section4:hover a {
    color: #dbdbdb;
   text-shadow: 1.3em 1.3em darkred;
}

.section5:hover a {
    color: #dbdbdb;
   text-shadow: 1.3em 1.3em darkred;
}

.section6:hover a {
    color: #dbdbdb;
   text-shadow: 40px 40px darkred;
}

#underline1 {
	z-index: -1;
	margin-top: -200px;
	margin-left: 25px;
	position: absolute;
	display:block;
	opacity: 0;	
	width: 7px;
    height: 0px;
    background: red;
	transition: 0.5s;
}

.section1:hover #underline1 {
	margin-top: -80px;
    height: 60px;
	opacity: 1;	
}

#underline2 {
	z-index: -1;
	margin-top: -200px;
	margin-left: 25px;
	position: absolute;
	display:block;
	opacity: 0;	
	width: 7px;
    height: 0px;
    background: red;
	transition: 0.5s;
}

.section2:hover #underline2 {
	margin-top: -80px;
    height: 60px;
	opacity: 1;	
}

#underline3 {
	z-index: -1;
	margin-top: -200px;
	margin-left: 25px;
	position: absolute;
	display:block;
	opacity: 0;	
	width: 7px;
    height: 0px;
    background: red;
	transition: 0.5s;
}

.section3:hover #underline3 {
	margin-top: -80px;
    height: 60px;
	opacity: 1;	
}

#underline4 {
	z-index: -1;
	margin-top: -200px;
	margin-left: 25px;
	position: absolute;
	display:block;
	opacity: 0;	
	width: 7px;
    height: 0px;
    background: red;
	transition: 0.5s;
}

.section4:hover #underline4 {
	margin-top: -80px;
    height: 60px;
	opacity: 1;	
}

#underline5 {
	z-index: -1;
	margin-top: -200px;
	margin-left: 25px;
	position: absolute;
	display:block;
	opacity: 0;	
	width: 7px;
    height: 0px;
    background: red;
	transition: 0.5s;
}

.section5:hover #underline5 {
	margin-top: -80px;
    height: 60px;
	opacity: 1;	
}

#underline6 {
	z-index: -1;
	margin-top: -200px;
	margin-left: 25px;
	position: absolute;
	display:block;
	opacity: 0;	
	width: 7px;
    height: 0px;
    background: red;
	transition: 0.5s;
}

.section6:hover #underline6 {
	margin-top: -80px;
    height: 60px;
	opacity: 1;	
}

.sidenav .closebtn {
	padding: 25px 25px 25px 25px;
	z-index: 3;
   position: absolute;
   top: 0;
   font-size: 50px;
   margin-left: 185px;
	margin-top: -15px;
	font-size: 3em;
	transition: transform 0.25s, text-shadow 1s;
}

.sidenav .closebtn:hover {
   color: #d1d1d1;
   transform: rotate(-360deg);
   margin-left: 160px;
   padding-left: 30px;
	padding-top: 0px;
	font-size: 6em;
	text-shadow: 1px 1px red, 2px 2px red, 3px 3px red, 4px 4px red, 5px 5px red, 6px 6px red, 7px 7px red, 8px 8px red, 9px 9px red, 10px 10px red;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 1em;}
}

/* Main Content Styles */

.content-main-wrap { 
	width: 100%;
	padding: 25px 0 25px 0;
	background: #fff;
}

.content-main-contain {
	clear: both;
	width: 80%;
	margin: 0 auto;
}

.content-main-contain h1 {
	padding-bottom: 10px;
	font-size: 5em;
	color: #4f4f4f;
	text-align:center;
	font-family: "Title";
	transition: 5s;
}

.content-main-wrap:hover h1 {
	color: #c1c1c1;
	text-shadow: 1px 1px red, 2px 2px red, 3px 3px red, 4px 4px red, 5px 5px red, 6px 6px red, 7px 7px red, 8px 8px red, 9px 9px red, 10px 10px red;
}

.content-main-contain h2 {
	margin: 15px 0 0 0;
	font-size: 2.7em;
	color: #595959;
	font-family: "Title2";
}

.content-main-contain p {
	padding-top: 10px;
	font-size: 1.5em;
	line-height: 1.7em;
	font-family: "Body";
	text-indent: 2.5em;
}

/* Secondary Content Styles */

.content-sec-wrap {
	width: 100%;
	padding: 25px 0 25px 0;
	background: #cccccc;
}

.content-sec-contain {
	clear: both;
	width: 80%;
	margin: 0 auto;
}

.content-sec-contain h1 {
	padding-bottom: 10px;
	font-size: 5em;
	color: #4f4f4f;
	text-align:center;
	font-family: "Title";
	transition: color 5s, text-shadow 5s;
}

.content-sec-wrap:hover h1 {
	color: #aaaaaa;
	text-shadow: 1px 1px red, 2px 2px red, 3px 3px red, 4px 4px red, 5px 5px red, 6px 6px red, 7px 7px red, 8px 8px red, 9px 9px red, 10px 10px red;
}

.content-sec-contain h2 {
	padding: 12px 0 12px 0;
	font-size: 2.7em;
	color: #4f4f4f;
	font-family: "Title2";
}

.content-sec-contain p {
	padding-top: 10px;
	font-size: 1.5em;
	line-height: 1.7em;
	font-family: "Body";
	text-indent: 2.5em;
}

.content-sec-contain ol {
	font-size: 1.2em;
	line-height: 1.7em;
	padding: 0 0 10px 0;
	font-family: "Body";
}

.content-sec-contain li {
	font-size: 1.2em;
	line-height: 1.7em;
	padding: 0 0 10px 0;
	font-family: "Body";
}

.content-sec-contain img {
	padding: 15px 0;
}


/* HighLighted Column Styles */

.container1 {
  position: relative;
  width: 0;
  height: 0;
}

.container1 img {
	padding: 0 0 0 0;
	margin: 110px 0 0 300px;
}

.image1 {
	background-color: grey;
	border: 10px solid darkgrey;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  transition: 1s;
}

.container1:hover .image1 {
	margin: 35px 0 0 220px;
	border: 20px solid grey;
  width: 450px;
  height: 450px;
	cursor: pointer;
	filter:brightness(50%);
}

.text1 {
	font-family: "Title2";
	opacity: 0;
  color: white;
  font-size: 5em;
  position: absolute;
  margin: -400px 0 0 340px;
  text-align: center;
  text-decoration: none;
  transition: 2s;
}

.container1:hover .text1 {
	opacity: 1;
}

.text11 {
	white-space: nowrap;
	font-family: "Body";
	opacity: 0;
  color: white;
  font-size: 7em;
  position: absolute;
  margin: -400px 0 0 295px;
  transition: 1s;
}

.container1:hover .text11 {
	opacity: 1;
}

.text12 {
	white-space: nowrap;
	font-family: "Body";
	opacity: 0;
  color: white;
  font-size: 2em;
  position: absolute;
  margin: -350px 0 0 290px;
  transition: 1s;
}

.container1:hover .text12 {
	opacity: 1;
}

////////////////////////////////////

.container2 {
  position: relative;
  width: 0px;
  height: 0px;
}

.container2 img {
	padding: 0 0 0 0;
	margin: 110px 0 0 805px;
}

.image2 {
	background-color: grey;
	border: 10px solid darkgrey;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  transition: 1s;
}

.container2:hover .image2 {
	margin: 35px 0 0 720px;
	border: 20px solid grey;
  width: 450px;
  height: 450px;
	cursor: pointer;
	filter:brightness(50%);
}

.text2 {
	font-family: "Title2";
	opacity: 0;
  color: white;
  font-size: 5em;
  position: absolute;
  margin: -400px 0 0 840px;
  text-align: center;
  text-decoration: none;
  transition: 1s;
}

.container2:hover .text2 {
	opacity: 1;
}

.text22 {
	white-space: nowrap;
	font-family: "Body";
	opacity: 0;
  color: white;
  font-size: 7em;
  position: absolute;
  margin: -400px 0 0 796px;
  text-align: center;
  text-decoration: none;
  transition: 1s;
}

.container2:hover .text22 {
	opacity: 1;
}

.text23 {
	white-space: nowrap;
	font-family: "Body";
	opacity: 0;
  color: white;
  font-size: 2em;
  position: absolute;
  margin: -400px 0 0 840px;
  text-align: center;
  text-decoration: none;
  transition: 1s;
}

.container2:hover .text23 {
	opacity: 1;
}

////////////////////////////////////

.container3 {
  position: relative;
  width: 0px;
  height: 0px;
}

.container3 img {
	padding: 0 0 0 0;
	margin: 110px 0 0 1330px;
}

.image3 {
	background-color: grey;
	border: 10px solid darkgrey;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  transition: 1s;
}

.container3:hover .image3 {
	margin: 35px 0 0 1245px;
	border: 20px solid grey;
  width: 450px;
  height: 450px;
	cursor: pointer;
	filter:brightness(50%);
}

.text3 {
	font-family: "Title2";
	opacity: 0;
  color: white;
  font-size: 5em;
  position: absolute;
  margin: -400px 0 0 1400px;
  text-align: center;
  text-decoration: none;
  transition: 1s;
}

.container3:hover .text3 {
	opacity: 1;
}

.text33 {
	white-space: nowrap;
	font-family: "Body";
	opacity: 0;
  color: white;
  font-size: 7em;
  position: absolute;
  margin: -400px 0 0 1320px;
  text-align: center;
  text-decoration: none;
  transition: 1s;
}

.container3:hover .text33 {
	opacity: 1;
}

.text34 {
	white-space: nowrap;
	font-family: "Body";
	opacity: 0;
  color: white;
  font-size: 2em;
  position: absolute;
  margin: -400px 0 0 1400px;
  text-align: center;
  text-decoration: none;
  transition: 1s;
}

.container3:hover .text34 {
	opacity: 1;
}

/* Resume Styles */

.resume-contain-wht {
	width: 65%;
	margin: 0 auto;
}

.resume-contain-gry {
	width: 65%;
	margin: 0 auto;
	padding: 20px 0;
}

.resume-contain-wht h1, .resume-contain-gry h1 {
	padding: 15px 0 15px 0;
	font-size: 5em;
	color: #4f4f4f;
	text-align:center;
	font-family: "Title";
	transition: 5s;
}

.resume-contain-wht h2, .resume-contain-gry h2 {
	padding: 40px 0 5px 0;
	font-size: 2.7em;
	color: #595959;
	font-family: "Title2";
}

.resume-contain-wht h3, .resume-contain-gry h3 {
	padding: 56px 0 0 0;
	font-size: 1.6em;
	color: #595959;
	font-family: "Title2";
}

.resume-contain-wht p, .resume-contain-gry p {
	padding-top: 10px;
	font-size: 1.5em;
	line-height: 2em;
	font-family: "Body";
	text-indent: 2.5em;
}

.resume-contain-wht ol, .resume-contain-wht ul, .resume-contain-gry ol, .resume-contain-gry ul {
	font-size: 1.2em;
	line-height: 2em;
	padding: 0 0 10px 0;
	font-family: "Body";
}

.resume-contain-wht li, .resume-contain-gry li {
	font-size: 1.2em;
	line-height: 2em;
	padding: 20px 0 0 0;
	font-family: "Body";
}

.ed-job-name {
	float: left;
	width: 38%;
}

.ed-job-loc {
	float: left;
	width: 23%;
}

.ed-job-extra {
	float: left;
	width: 22%;
}

.ed-job-date {
	float: left;
	width: 13%;
}

/* Footer Styles */

.foot-wrap {
	width: 100%;
	height: 200px;
	background: #aaaaaa;
}

.foot-contain {
	width: 100%;
}

.social1 img {
	position: absolute;
	z-index: 0;
	padding: 40px 40px 40px 40px;
	margin-top: -110px;
	margin-left: 64%;
	width: 70px;
	height: 70px;
	transition: 0.5s;
}

.social1:hover img {
	margin-top: -125px;
	width: 100px; 
	height: 100px;
}

.social2 img {
	position: absolute;
	z-index: 0;
	padding: 40px 40px 40px 40px;
	margin-top: -110px;
	margin-left: 75.5%;
	margin-bottom: -7px;
	width: 70px;
	height: 70px;
	transition: 0.5s;
}

.social2:hover img {
	margin-top: -125px;
	width: 100px; 
	height: 100px;
}

.social3 img {
	position: absolute;
	z-index: 0;
	padding: 40px 40px 40px 40px;
	margin-top: -110px;
	margin-left: 86%;
	margin-bottom: 11px;
	width: 70px;
	height: 70px;
	transition: 0.5s;
}

.social3:hover img {
	margin-top: -125px;
	width: 100px; 
	height: 100px;
}

.topnav {
	z-index: 2;
  overflow: hidden;
  background-color: #aaaaaa;
}

.topnav a {
	z-index: 2;
	font-family: "Nav";
  float: left;
  color: #000;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
  padding: 40px 40px 40px 40px;
  transition: 1s;
}

.topnav a:hover {
  color: #4f4f4f;
  background-color: #c1c1c1;
 	text-shadow: 0px 34px red, 0px -34px red;
}

#letters {
	margin-top: -155px;
	margin-left: 10px;
	display: block;
	z-index: -5;
	font-size: 8em;
	font-family: "Nav";
	text-align: center;
}

#letters p{
	z-index: -5;
	color: #aaaaaa;
	transition: 3s;
}

.foot-wrap:hover #letters p {
	color: #cccccc;
	text-shadow: 1px 1px red, 2px 2px red, 3px 3px red, 4px 4px red, 5px 5px red, 6px 6px red, 7px 7px red, 8px 8px red, 9px 9px red, 10px 10px red;
}


[aos="fade"] {
  opacity: 0;
  transition-property: opacity;
}

[aos="fade"].aos-animate {
  opacity: 1;
}



/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #383838;
	opacity: 0.1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: darkred; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: red; 
}

.scrollpic img {
	height: 600px;
}