a > img {
    width: auto;
    height: 25vw;
}

div {
    margin: 2.5vmin;
}

a > img {
    /* transition: 0.25s ease; */
}

a:hover > img {
    /* transform: scale(1.03); */
}

div.fullscreen img {
    height: unset;
    max-width: 80vw;
    max-height: 80vh;
    transform: scale(1.03);
}

figure:first-of-type {
    padding-top: 7.5vmin;
}

figure:last-of-type {
    padding-bottom: 10vmin;
}