a > img {
    width: auto;
    height: 16vw;
}

header, footer {
    background: #cccccc;
}

div {
    margin-right: 6vmin;
    margin-bottom: 6vmin;
    transition: 0.25s ease;
}

div:hover {
    transform: scale(1.05);
}

div.fullscreen img {
    height: unset;
    max-width: 80vw;
    max-height: 80vh;
}

figure:first-of-type {
    padding-top: 10vmin;
}