html, body, main, div.fullscreen {
    /* background: black; */
    /* background: white; */
    /* background: #404040; */
    background: rgb(0, 0, 0);
    /* background-image: linear-gradient(to right, #00C2FF , #A200FF); */
    /* background-image: linear-gradient(to right, #B3EAFF , #D4B3FF); */
    /* background-image: linear-gradient(to right, #4D4D4D , #1A1A1A); */
}

header, footer {
    background: black;
    /* background: white; */
    /* background: #BFBFBF; */
    /* background: #dfdfdf; */
    /* background-image: linear-gradient(to right, #B3EAFF , #D4B3FF); */
}

h1, h2, h3, h5, h6, a {
    /* color: black; */
    color: white;
}

h1 > a, h2 > a, h2 {
    /* color: black; */
    color: white;
}

/* 
SHADES FROM WHITE TO BLACK
90 - #E6E6E6
80 - #CCCCCC
70 - #B3B3B3
60 - #999999
50 - #808080
40 - #666666
30 - #4D4D4D
20 - #333333
10 - #1A1A1A
*/







/* header, footer {
    background: grey;
} */