main {
    display: block;
}

div {
    overflow: hidden;
    user-select: none;
    margin: 0.2vmin;
}

a > img {
    display: block;
    width: 24.55vw;
    height: auto;
    transition: 0.25s ease;
    cursor: pointer;
    transform: translateZ(0);
    backface-visibility: hidden;
}

a:hover > img {
    transform: scale(1.1);
	filter: unset;
}

h4 {
    width: 100%;
    font-size: 1vw;
    transition: 0.25s ease;
    cursor: pointer;
}

a:hover > h4 {
    display: none;
}

figure:first-of-type {
    padding-top: 6.5vmin;
}

figure:last-of-type {
    padding-bottom: 8.5vmin;
}

/* figure:last-of-type > div {
    margin-bottom: 0;
} */

figure {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 1px;
    justify-content: center;
}

figure.landscape > div > a > img {
    width: 49.3vw;
}

/* .portrait {
    width: 19.75vw;
} */

/* div.fullscreen .portrait {
    transform: scale(1.5);
} */

div.fullscreen h4 {
    display: none;
}

figure.landscape > div.fullscreen > a > img {
    width: unset;
}

div.fullscreen img {
    /* cursor: zoom-out; */
    transform: scale(1.1);
    width: unset;
    max-width: 80vw;
    max-height: 80vh;
}

div.fullscreen {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: zoom-out; */
    cursor: pointer;
}