/* ALL */

* {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

/* HTML & BODY */

html, body {
    height: 100%;
}

/* MAIN */

main {
    background: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div {
    position: relative;
    text-align: center;
  }

a > h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    color: white;
    transition: 1s;
    opacity: 0%;
}

img {
    height: 400px;
    transition: 1s;
}

a:hover > img {
	filter: brightness(50%);
}

a:hover > h2 {
    opacity: 100%;
}

main > h2:first-of-type {
    margin-top: 75px;
}

/* TEXT */

h1 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 75px;
}

h2 {
    font-size: 18px;
    text-align: center;
    font-style: italic;
}

/* ONCE HEIGHT IS TOO SMALL, STOP VERTICAL CENTER ON MAIN AND PAD */

@media only screen and (max-height: 925px) {

    main {
        display: block;
    }

    h1 {
        margin-top: 125px;
    }

    main > h2:last-child {
        margin-bottom: 125px;
    }

}