@import url("https://notseanwalters.github.io/seanwalters/assets/fonts/roboto/stylesheet.css");
@import url("https://notseanwalters.github.io/seanwalters/assets/fonts/basic/stylesheet.css");
@import url("https://notseanwalters.github.io/seanwalters/assets/fonts/code/stylesheet.css");
@import url("https://notseanwalters.github.io/seanwalters/assets/fonts/coves/stylesheet.css");
@import url("https://notseanwalters.github.io/seanwalters/assets/fonts/lazer/stylesheet.css");
@import url("https://notseanwalters.github.io/seanwalters/assets/fonts/next/stylesheet.css");
@import url("https://notseanwalters.github.io/seanwalters/assets/fonts/axis/stylesheet.css");
@import url("https://notseanwalters.github.io/seanwalters/assets/fonts/streamster/stylesheet.css");
#background1 {
  background: url("https://notseanwalters.github.io/seanwalters/assets/images/background3.png");
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  z-index: -3;
  font-size: 1em;
  background-repeat: no-repeat;
  background-size: cover;
}

#background2 {
  background: url("https://notseanwalters.github.io/seanwalters/assets/images/background2.png");
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  z-index: -3;
  font-size: 1em;
  background-repeat: no-repeat;
  background-size: cover;
}

#background3 {
  background: url("https://notseanwalters.github.io/seanwalters/assets/images/background7.png");
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  z-index: -3;
  font-size: 1em;
  background-repeat: no-repeat;
  background-size: cover;
}

#background4 {
  background: url("https://notseanwalters.github.io/seanwalters/assets/images/background6.png");
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  z-index: -3;
  font-size: 1em;
  background-repeat: no-repeat;
  background-size: cover;
}

#background5 {
  background: url("https://notseanwalters.github.io/seanwalters/assets/images/background4.png");
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  z-index: -3;
  font-size: 1em;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  background-color: black;
  z-index: -100;
}

#wrapper {
  width: 900px;
  margin: 0 auto;
  display: block;
  box-shadow: 0px 20px 50px #000000;
  margin-top: 30px;
  margin-bottom: 20px;
  border: solid;
  border-width: 5px;
  border-radius: 15px;
  border-color: #333;
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

#header {
  width: 900px;
  height: 125px;
  padding-top: 4.6px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, .9);
}

#navbar {
  width: 900px;
  height: 52px;
  background-color: rgba(0, 0, 0, .9);
  font-family: "coves";
  font-size: 27.98px;
  text-align: center;
  padding-top: 8px;
}

#content {
  width: 900px;
  background-color: rgba(0, 0, 0, .9);
  height: auto;
  font-family: "content";
  color: white;
}

#content-title {
  margin-left: 36px;
  padding-top: 22.5px;
  color: #800000;
  font-family: "streamster"
}

#content-text {
  margin-left: 35px;
  padding-top: 15px;
  padding-bottom: 25px;
  color: #fff;
  font-family: "roboto"
}

#footer {
  width: 900px;
  margin: 0 auto;
  font-family: "coves";
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px #000;
}

#footer p {
  text-decoration: none;
  padding: 5px 0;
  text-align: center;
}

#footer a {
  text-decoration: none;
  color: #800000;
}

#footer a:hover {
  text-decoration: underline;
  color: #800000;
}

#navbar a {
  padding: 10px 15px 10px 15px;
  border-right: 1px solid #ababab;
  border-top: 1px solid #ababab;
  border-bottom: 1px solid #ababab;
  border-left: 1px solid #ababab;
  border-radius: 15px 15px 15px;
  text-decoration: none;
  color: #ababab;
}
#button1:hover {
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0,);
  border-right: 1px solid #008eff;
  border-bottom: 1px solid #008eff;
  border-top: 1px solid #008eff;
  border-left: 1px solid #008eff;
}
#button2:hover {
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0,);
  border-right: 1px solid #3900ff;
  border-bottom: 1px solid #3900ff;
  border-top: 1px solid #3900ff;
  border-left: 1px solid #3900ff;
}
#button3:hover {
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0,);
  border-right: 1px solid #00ff78;
  border-bottom: 1px solid #00ff78;
  border-top: 1px solid #00ff78;
  border-left: 1px solid #00ff78;
}
#button4:hover {
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0,);
  border-right: 1px solid #ff0058;
  border-bottom: 1px solid #ff0058;
  border-top: 1px solid #ff0058;
  border-left: 1px solid #ff0058;
}
#button5:hover {
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0,);
  border-right: 1px solid #fffd00;
  border-bottom: 1px solid #fffd00;
  border-top: 1px solid #fffd00;
  border-left: 1px solid #fffd00;
}