@media only screen and (max-height: 880px) {

    h1, div {
        display: none;
    }

    h2:first-of-type, main > h2:last-child {
        margin: 0;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}