/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ALL */

* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    /* font-family: 'Roboto', sans-serif; */
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* HTML & BODY */

html, body {
    height: 100%;
    width: 100%;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* SCROLLBAR */


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* HEADER & FOOTER */

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    z-index: 9;
    cursor: default;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    z-index: 9;
    cursor: default;
}

footer > h5:hover {
    cursor: text;
}

nav {
    float: right;
    margin-right: 15px;
    user-select: none;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* MAIN */

main {
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div {
    position: relative;
    text-align: center;
  }

img {
    height: 400px;
    transition: 0.25s;
}

a:hover > img {
	filter: brightness(75%);
	filter: grayscale(100%);
}

a:hover > h4 {
    opacity: 100%;
}

h2:first-of-type {
    margin-top: 75px;
}

section {
    text-align: center;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* TEXT */

/* main - title */
h1 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 75px;
}
/* main - header */
h2 {
    font-size: 18px;
    text-align: center;
    font-style: italic;
}
/* main - subtitle */
h3 {
    font-size: 18px;
    text-align: center;
    font-style: italic;
    color: #c0c0c0;
}
/* image - title */
h4 {
    font-size: 18px;
    text-align: center;
    font-style: italic;
    color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    opacity: 0%;
    transition: 0.25s;
}
/* nav */
h5 {
    font-size: 12px;
    display: inline-block;
    margin-top: 8px;
    margin-left: 10px;
}
/* link */
a {
    color: black;
    text-decoration: none;
}
/* link - hover */
a:hover {
    text-decoration: underline;
}
/* superscript */
sup {
    font-size: 10px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ON FOOTER CLASH, REMOVE FOOTER NAV AND CENTER FOOTER COPYRIGHT */

@media only screen and (max-width: 670px) {

    footer > nav {
        display: none;
    }

    footer > h5 {
        margin: 0;
        margin-top: 8px;
        display: block;
        text-align: center;
    }

}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ON HEADER CLASH, REMOVE HEADER NAV AND CENTER HEADER NAME */

@media only screen and (max-width: 300px) {

    header > h5 {
        display: none;
    }

    header > nav {
        float: none;
        text-align: center;
    }

}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ONCE WIDTH IS TOO SMALL, SHRINK HEADER AND FOOTER CONTENT */

@media only screen and (max-width: 250px) {

    h5 {
        font-size: 8px;
    }

}

@media only screen and (max-width: 200px) {

    h5 {
        font-size: 4px;
    }

}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */