@media only screen and (min-width: 500px) {

    a > img {
        width: 23.9vw;
    }

}

@media only screen and (min-width: 1000px) {

    a > img {
        width: 24.4vw;
    }

}

@media only screen and (min-width: 1500px) {

    a > img {
        width: 24.6vw;
    }

}

@media only screen and (min-width: 2000px) {

    a > img {
        width: 24.7vw;
    }

}

@media only screen and (min-width: 2500px) {

    a > img {
        width: 24.7vw;
    }

}

@media only screen and (min-width: 3000px) {

    a > img {
        width: 24.8vw;
    }

}

@media only screen and (min-width: 3500px) {

    a > img {
        width: 24.8vw;
    }

}

@media only screen and (min-width: 4000px) {

    a > img {
        width: 24.8vw;
    }

}