html {
    overflow: hidden;
}

main {
    display: block;
    overflow-x: hidden;
}

h4 {
    transition: 0.25s ease;
}

a > img {
    height: 20vw;
    display: block;
    transition: 0.25s ease;
}

div > a {
    cursor: pointer;
}

a:hover > img {
    transform: scale(1.5);
	filter: unset;
}

a:hover > h4 {
    opacity: 0%;
}

div {
    margin-right: 1px;
    margin-bottom: 2.5vw;
    overflow: hidden;
}

figure {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.5vw;
    justify-content: space-evenly;
}