html {
    overflow: hidden;
}

main {
    display: block;
    margin-top: 30px;
    overflow-x: hidden;
}

h4 {
    transition: 0.25s ease;
}

img {
    height: 22.22vw;
    display: block;
    transition: 0.25s ease;
}

div > a {
    cursor: pointer;
}

a:hover > img {
    transform: scale(1.5);
	filter: unset;
}

a:hover > h4 {
    opacity: 0%;
}

div {
    margin-right: 1px;
    margin-bottom: 1px;
    overflow: hidden;
}

figure {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1px;
    width: 130%;
}