html {
    overflow-x: hidden;
}

main {
    display: block;
    margin-top: 30px;
}

h4 {
    transition: 1s ease;
}

img {
    height: 426px;
    display: block;
    transition: 0.25s ease;
}

div > a {
    cursor: pointer;
}

a:hover > img {
    transform: scale(1.5);
	filter: brightness(100%);
}

a:hover > h4 {
    opacity: 0%;
}

div {
    margin: 0.5px;
    overflow: hidden;
}

figure {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    width: 131%;
}