main {
    display: block;
}

h4 {
    transition: 0.25s ease;
}

div {
    overflow: hidden;
    user-select: none;
    margin-right: 1px;
    margin-bottom: 1px;
}

a > img {
    cursor: pointer;
    width: 48vw;
    height: auto;
    display: block;
    transition: 0.25s ease;
}

a:hover > img {
    transform: scale(1.5);
	filter: unset;
}

a:hover > h4 {
    display: none;
}

figure:first-of-type {
    margin-top: 30px;
}

figure {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 1px;
    justify-content: center;
}

/* .portrait {
    width: 19.75vw;
} */

/* div.fullscreen .portrait {
    transform: scale(1.5);
} */

div.fullscreen h4 {
    display: none;
}

div.fullscreen img {
    cursor: zoom-out;
    transform: scale(1.5);
    width: unset;
    max-width: 60vw;
    max-height: 60vh;
}

div.fullscreen {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: zoom-out;
}

@media only screen and (min-width: 500px) {

    a > img {
        width: 23.9vw;
    }

}

@media only screen and (min-width: 1000px) {

    a > img {
        width: 24.4vw;
    }

}

@media only screen and (min-width: 1500px) {

    a > img {
        width: 24.6vw;
    }

}

@media only screen and (min-width: 2000px) {

    a > img {
        width: 24.7vw;
    }

}

@media only screen and (min-width: 2500px) {

    a > img {
        width: 24.7vw;
    }

}

@media only screen and (min-width: 3000px) {

    a > img {
        width: 24.8vw;
    }

}

@media only screen and (min-width: 3500px) {

    a > img {
        width: 24.8vw;
    }

}

@media only screen and (min-width: 4000px) {

    a > img {
        width: 24.8vw;
    }

}